<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target Name="logfile" xsi:type="File" fileName=".\\Logs\\LogFile.log" />
    <target Name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger Name="*" minlevel="Fatal" writeTo="logconsole" />
    <logger Name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>